<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.0.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
    ">

    <bean id="helloRMIServiceImpl" class="com.rg.server.simple.HelloRMIServiceImpl"/>

    <bean id="myRMI" class="org.springframework.remoting.rmi.RmiServiceExporter">
        <property name="service" ref="helloRMIServiceImpl"/>
        <property name="serviceName" value="helloRMI"/>
        <property name="serviceInterface" value="com.rg.common.interfaces.HelloRMIService"/>
        <property name="registryPort" value="9999"/>
    </bean>

</beans>